.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1f 6f;
}

/* .container {
  display: grid;
  grid-template-columns: 1f 6f;
} */

.navbar {
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  list-style: none;
  padding: 0;
}

.list-item {
  padding: 0.5rem;
}

.navbar__link {
  color: black;
  text-decoration: none;
}
